
.td {
    border: 1px solid black;
    padding: 4px;
    text-align: center;
}
.tr:nth-child(2n) {
    background-color: rgb(214, 212, 212);
    }
.tr:nth-child(2n+1) {
background-color: rgb(152, 152, 152r)
}
